

#content{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    flex-wrap: wrap;    
    
    background: linear-gradient(60deg, rgb(252, 23, 80) 0%, rgb(129, 3, 45) 100%);
    height: 100vh;
}