<ion-header>
  <app-boton-menu></app-boton-menu>
  <ion-toolbar>
     <ion-title>Agregar Publicación</ion-title>
   </ion-toolbar>
 </ion-header>
 
 <ion-content class="container" >
 
 
 
 <form (ngSubmit)="onSubmit()" #miFormulario="ngForm">
     <ion-grid class="gridFormulario" fixed>
         <ion-row class="row1" >
             <ion-col class="col1" size-xs="12" size-sm="12" size-md="6" >
             <!-- <ion-item fill="outline" >
                 <ion-label position="floating">Usuario <ion-text color="danger">*</ion-text></ion-label>
                 <ion-input required
                            [(ngModel)]="vehiculo.usuario" 
                            type="text"
                            minlength="3"
                            maxlength="20"
                            name="usuario"></ion-input>
             </ion-item>
             <ion-item fill="outline" >
                 <ion-label  position="floating">nombreAnuncio <ion-text color="danger">*</ion-text></ion-label>
                 <ion-input required
                            [(ngModel)]="vehiculo.nombreAnuncio" 
                            name="nombreAnuncion"
                            type="text"
                            maxlength="50"
                            minlength="4"></ion-input>
             </ion-item>  -->
             <ion-item fill="outline" >
                 <ion-label  position="floating">Región <ion-text color="danger">*</ion-text></ion-label>
                 <ion-input required
                            [(ngModel)]="vehiculo.region" 
                            name="region"
                            type="text"
                            maxlength="50"
                            minlength="4"></ion-input>
             </ion-item> 
             <ion-item fill="outline" >
                 <ion-label  position="floating">Cuidad<ion-text color="danger">*</ion-text></ion-label>
                 <ion-input required
                            [(ngModel)]="vehiculo.ciudad" 
                            name="ciudad"
                            type="text"
                            minlength="4"
                            maxlength="30"></ion-input>
             </ion-item>
             <ion-item fill="outline" >
                 <ion-label  position="floating">Tipo Vehiculo <ion-text color="danger">*</ion-text></ion-label>
                 <ion-input required
                            [(ngModel)]="vehiculo.tipo_vehiculo" 
                            name="alojamiento"
                            type="text"
                            minlength="2"
                            maxlength="30"></ion-input>
             </ion-item>
             <!-- <ion-item fill="outline" >
                 <ion-label  position="floating">email <ion-text color="danger">*</ion-text></ion-label>
                 <ion-input required
                            type="email"
                            placeholder="enail@domain.com"
                            [(ngModel)]="vehiculo.email" 
                            name="email"></ion-input>
             </ion-item> -->
             <!-- <ion-item fill="outline" >
                 <ion-label  position="floating">Telefono <ion-text color="danger">*</ion-text></ion-label>
                 <ion-input required
                            type="cel"
                            [(ngModel)]="vehiculo.telefono" 
                            name="telefono"></ion-input>
             </ion-item> -->
            <ion-item fill="outline" >
                 <ion-label  position="floating">Marca <ion-text color="danger">*</ion-text></ion-label>
                 <ion-input required
                            type="text"
                            [(ngModel)]="vehiculo.marca" 
                            name="marca"
                            minlength="3"
                            maxlength="10"></ion-input>
             </ion-item>
             <ion-item fill="outline" >
                 <ion-label  position="floating">Modelo <ion-text color="danger">*</ion-text></ion-label>
                 <ion-input required
                            type="text"
                            [(ngModel)]="vehiculo.modelo" 
                            name="modelo"
                            minlength="1"
                            maxlength="10"></ion-input>
             </ion-item>

             <ion-item fill="outline" >
              <ion-label  position="floating">Año <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required
                         type="number"
                         [(ngModel)]="vehiculo.anio" 
                         name="anio"
                         minlength="4"
                         maxlength="4"></ion-input>
             </ion-item>
        
        
             <ion-item fill="outline" >
                 <ion-label  position="floating">Puestos <ion-text color="danger">*</ion-text></ion-label>
                 <ion-input required
                            type="number"
                            [(ngModel)]="vehiculo.puestos" 
                            name="precio"></ion-input>
             </ion-item>
             <ion-item fill="outline" >
                 <ion-label  position="floating">Aire <ion-text color="danger">*</ion-text></ion-label>
                 <ion-input required
                            type="boolean"
                            value="true"
                            [(ngModel)]="vehiculo.aire" 
                            name="precio"></ion-input>
             </ion-item>

             <ion-item fill="outline" >
              <ion-label  position="floating">Descripcion <ion-text color="danger">*</ion-text></ion-label>
              <ion-textarea required
                            autoGrow="true"
                            rows="4"
                            type="text"
                            placeholder="Escribe tu descripción aqui"
                            minlength="50"
                            maxlength="300"
                            [(ngModel)]="vehiculo.descripcion" 
                            name="descripcion"></ion-textarea>
          </ion-item>

             <ion-item fill="outline" >
                 <ion-label  position="floating">Precio <ion-text color="danger">*</ion-text></ion-label>
                 <ion-input required
                            type="number"
                            [(ngModel)]="vehiculo.precio" 
                            name="precio"></ion-input>
             </ion-item>
             <!-- <ion-item fill="outline" >
                 <ion-label  position="floating">Suscripción <ion-text color="danger">*</ion-text></ion-label>
                 <ion-input required
                            type="boolean"
                            value="true"
                            [(ngModel)]="vehiculo.subscripcion" 
                            name="precio"></ion-input>
             </ion-item> -->
            
           
 
 
         
 

             <ion-item>
              <ion-row *ngIf="archivosB64[0]" >
                <ion-col *ngIf="archivosB64[0]"
                         size-xs="12"
                         size-sm="12"
                         size-md="6"
                         size-lg="6"
                         size-xl="6">
                  <img src="{{archivosB64[0]}}" alt="">
                </ion-col>
                 
                <ion-col  >
                  <ion-row>
                    <ion-col *ngIf="archivosB64[1]" size="6">
                      <img src="{{archivosB64[1]}}"  alt="">
                    </ion-col>
                    <ion-col *ngIf="archivosB64[2]" size="6">
                      <img src="{{archivosB64[2]}}"  alt="">
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col *ngIf="archivosB64[3]" size="6">
                      <img src="{{archivosB64[3]}}"  alt="">
                    </ion-col>
                    <ion-col *ngIf="archivosB64[4]" size="6">
                      <img src="{{archivosB64[4]}}"  alt="">
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
             </ion-item>


              <ion-item>
                    <div>
                      <input id="cargar" 
                            type="file" 
                            (change)="handleFileInputChange($event)" 
                            accept=".png, .jpg, .jpeg" 
                            multiple >
                  </div>

                  <label fill="outline" class="cargar" for="cargar" color="primary">
                    <ion-icon name="cloud-upload-outline" color="primary" ></ion-icon > 
                      Cargar Imagenes
                  </label>
              </ion-item>
            

           
            
           </ion-col>
        </ion-row>
      </ion-grid> 
 


     
         
 
 
    
 
   
         <ion-grid fixed class="boton" >
             <ion-row > 
             
                     <ion-button  class="boton-volver" 
                                  (click)="guardar( miFormulario )"
                                  (click)="subirImagen( miFormulario)"
                                  color="primary"
                                  > Publicar
                     </ion-button>  
                   
                   
                
                 
                 
                     <ion-button class="boton-volver" 
                                 routerLink="/listado-vehiculos"
                                 color="primary"> Volver 
                     </ion-button>

                     
                     
                 
             </ion-row>
         </ion-grid>
         
 
                    
     
 
  
     
 </form>
 
 
 
 
 </ion-content>
 