ion-item{
    margin-bottom: 10px;
}



.boton{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
  

}


#cargar{
    display: none;
}

.cargar{
    color: red;
    margin: 5%;
    border: 1px solid red;
    padding: 1%;
    border-radius: 5px;
    cursor: pointer;
}

.cargar:active{
    transform: scale( 0.9);
}

#iheader{
    display: flex;
    justify-content:space-between
    
  }
