


<ion-header *ngIf="bandera" id="iheader">
  <app-boton-menu></app-boton-menu>  <app-user-icon></app-user-icon>
  
</ion-header>


  <ion-content *ngIf="bandera " class="header" >
    <div class="container">
      <ion-img  class = 'background' ></ion-img>

    <!-- barra de busqueda -->
    <!-- <ion-searchbar  
                  placeholder="Buscar Inmuebles" 
                  inputmode="text"
                  (ionChange)="aonSearchChange( $event ) "
                  minlength="3"
                  [debounce]="250"
                  color="light" 
                  mode="ios"                          
                  > 
    </ion-searchbar> -->
    <!-- fin de barra de busqueda -->



    <!-- slides ofertas -->
        <ion-text  class="texto" color="primary">
          <h3>Ofertas!</h3> 
        </ion-text>
        <!-- <ion-slides [options]="slidesOpt" >
          <ion-slide *ngFor="let oferta of ofertas"   size-xs="11"
                                                          size-xs="6"
                                                          size-sm="4"
                                                          size-md="4"
                                                          size-lg="4"
                                                          size-xl="3" >
          <ion-grid [fixed]="true">
            <ion-row>
              <ion-col >
                <app-tarjeta [inmueble]="oferta" ></app-tarjeta> 
                
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
        </ion-slides> -->


        <ion-slides #slides1 (ionSlidesDidLoad)="onSlidesDidLoad()" >
          <ion-slide *ngFor="let oferta of ofertas"   size-xs="11"
                                                          size-xs="6"
                                                          size-sm="4"
                                                          size-md="4"
                                                          size-lg="4"
                                                          size-xl="3" >
          <ion-grid [fixed]="true">
            <ion-row>
              <ion-col >
                <app-tarjeta [inmueble]="oferta" ></app-tarjeta> 
                
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
        </ion-slides>



      <!-- fin de slides ofertas -->




           <!-- slides inmuebles -->
           
           <ion-text  class="texto" color="primary">
            <h3>Inmuebles</h3>
          </ion-text>
          <ion-slides #slides2 (ionSlidesDidLoad)="onSlidesDidLoad()" >
            <ion-slide *ngFor="let inmueble of inmuebles"   size-xs="11"
                                                            size-xs="6"
                                                            size-sm="4"
                                                            size-md="4"
                                                            size-lg="4"
                                                            size-xl="3" >
              <ion-grid [fixed]="true">
                <ion-row>
                  <ion-col >
                    <app-tarjeta [inmueble]="inmueble" ></app-tarjeta> 
                    
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>
          </ion-slides>


        <!-- finde slides inmuebles  -->




        <!-- slides vehiculos -->
            
        <ion-text  class="texto" color="primary">
          <h3>Vehiculos</h3>
        </ion-text>
        <ion-slides #slides3 (ionSlidesDidLoad)="onSlidesDidLoad()" >
        <ion-slide *ngFor="let vehiculo of vehiculos"   size-xs="11"
          size-xs="6"
                                                          size-sm="4"
                                                          size-md="4"
                                                          size-lg="4"
                                                          size-xl="3" >
            <ion-grid [fixed]="true">
              <ion-row>
                <ion-col >
                      <app-tarjeta-vehiculo [vehiculo] = "vehiculo" ></app-tarjeta-vehiculo> 
              
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-slide>
        </ion-slides>

<!-- fin de slides vehiculos   -->



  </div> 
  </ion-content>

  <ion-content *ngIf="bandera == false" >
    
      <ion-slide class="fondo_celular" >
        <ion-img [src]="imagen"></ion-img>
      </ion-slide>
   
  </ion-content>

  




