<ion-header id="iheader" >
 <app-boton-menu></app-boton-menu>
 <app-saludo></app-saludo>
</ion-header>

<ion-content>

  <ion-item> 
    <ion-label> 
      <h1>Alojamientos</h1>
    </ion-label>
  </ion-item>
      
  

  
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col *ngFor="let inmueble of inmuebles"  size-xs="12"
                size-xs="6"
                size-sm="6"
                size-md="6"
                size-lg="4"
                size-xl="3">
             <app-tarjeta [inmueble]="inmueble" ></app-tarjeta> 
     
    </ion-col>
 </ion-row>
</ion-grid>



</ion-content>


